<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senac Pic</title>
  </head>
  <body>
    <div class="container">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img src="https://www.bacancytechnology.com/img/angular-imgs/side-bg1.jpg" class="rounded img-fluid float-left" alt="...">
          <h6 class="card-subtitle mb-2 text-muted">{{ titulo }}</h6>
          <p class="card-text">{{ descricao }}</p>
          <a href="#" class="card-link">Curtir</a>
          <input type="checkbox" class="card-link" [checked]="seguir"> Seguir
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <img src="https://cdn-images-1.medium.com/max/1200/1*AwSy2CQ0nsw2uOO9__ecog.jpeg" class="rounded img-fluid float-left" alt="...">
          <h6 class="card-subtitle mb-2 text-muted">{{ titulo2 }}</h6>
          <p class="card-text">{{ descricao2 }}</p>
          <a href="#" class="card-link">Curtir</a>
          <input type="checkbox" class="card-link"> Seguir
        </div>
      </div>
    </div>
  </body>
</html>