<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senac Pic</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <!-- inbound property -->
          <app-foto 
            *ngFor="let f of fotos"
            [url]="f.url" 
            [titulo]="f.titulo" 
            [descricao]="f.descricao">
          </app-foto>
        </div>
    </div>
  </body>
</html>