        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img [src]="url" class="rounded img-fluid mb-2" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted">{{ titulo }}</h6>
                    <p class="card-text">{{ descricao }}</p>
                    <a href="#" class="card-link">Curtir</a>
                    <input type="checkbox" class="card-link"> Seguir
                </div>
            </div>
        </div>
