<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div class="login-form">
    <form [formGroup]="loginForm" (submit)="login()">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input formControlName="username" type="text" class="form-control" placeholder="Username" autofocus>
            <small *ngIf="loginForm.get('username').errors?.required" class="text-danger d-block mt-2">Informe o usuário</small>
        </div>
        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
            <small *ngIf="loginForm.get('password').errors?.required" class="text-danger d-block mt-2">Informe a senha</small>
        </div>
        <div class="form-group">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark btn-outline-warning btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <a href="#" class="pull-right text-warning font-italic"> Esqueceu a senha?</a>
        </div>        
    </form>
    <p class="text-center"><a href="#" class="text-warning font-weight-bold font-italic">Crie uma Conta</a></p>
</div>