<div class="col-6 offset-2">
  <fieldset>
    <legend>Cadastro de Fotos</legend>
    <form [formGroup]="fotoForm" (submit)="addFoto()">
      <div class="form-group">
        <label for="idTitulo">Titulo</label>
        <input formControlName="titulo" id="idTitulo" type="text" class="form-control" placeholder="Informe o titulo">
        <small *ngIf="fotoForm.get('titulo').errors?.required" class="text-danger d-block mt-2">Informe o titulo</small>
      </div>
      <div class="form-group">
        <label for="idTituloAlt">Titulo Alternativo</label>
        <input formControlName="alt" id="idTituloAlt" type="text" class="form-control" placeholder="Informe o titulo alternativo">
        <small *ngIf="fotoForm.get('alt').errors?.required" class="text-danger d-block mt-2">Informe o titulo alternativo</small>
      </div>
      <div class="form-group">
        <label for="idDescricao">Descrição</label>
        <input formControlName="descricao" id="idDescricao" type="text" class="form-control" placeholder="Informe a descrição">
        <small *ngIf="fotoForm.get('descricao').errors?.required" class="text-danger d-block mt-2">Informe a descrição</small>
      </div>
      <div class="form-group">
        <label for="idURL">URL</label>
        <input formControlName="url" id="idURL" type="url" class="form-control" placeholder="Informe a URL">
        <small *ngIf="fotoForm.get('url').errors?.required" class="text-danger d-block mt-2">Informe a url</small>
      </div>
      <div class="form-group">
        <button [disabled]="fotoForm.invalid" type="submit" class="btn btn-dark">Registrar</button>
      </div>
    </form>
  </fieldset>
</div>